<div class="page-header">
  <h2>Listing inscriptions</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Number</th>
      <th>Date</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>City</th>
      <th>Company</th>
      <th>Student</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inscriptions.each_with_index do |inscription, index| %>
      <tr>
        <td class="nowrap"><%= index.next %></td>
        <td class="nowrap"><%= inscription.id_formatted %></td>
        <td class="nowrap"><%= l inscription.created_at, :format => :short %></td>
        <td><%= inscription.name %></td>
        <td><%= inscription.email %></td>
        <td><%= inscription.city %></td>
        <td><%= inscription.company_name %></td>
        <td><%= "yes" if inscription.student? %></td>
        <td class="nowrap">
          <%= content_tag :i, "", :class => "icon-ok" if inscription.conferred? %>
          <%= inscription.payment_status %>
        </td>
        <td class="nowrap">
          <%= link_to 'Edit', [:edit, inscription], :class => 'btn btn-small' %>
          <%= simple_form_for inscription do |f| %>
            <%= f.hidden_field :excluded, :value => true %>
            <%= f.button :submit, "Destroy", :class => "btn-danger btn-small", :confirm => "Confirm?" %>
          <% end %>
          |
          <%= simple_form_for inscription do |f| %>
            <%= f.hidden_field :conferred, :value => !inscription.conferred? %>
            <%= f.button :submit, "Confer", :class => "btn-primary btn-small", :confirm => "Confirm?" %>
          <% end %>
          <% if inscription.payment_status == "pending" %>
            | <%= link_to 'Mail', [inscription, :inscription_mailers], :method => :post, :class => 'btn btn-success btn-small', :confirm => "Confirm?", :remote => true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
