<div class="page-header">
  <h2>Listing inscriptions</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Name</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inscriptions.each_with_index do |inscription, index| %>
      <tr>
        <td class="nowrap"><%= index.next %></td>
        <td class="nowrap"><%= l inscription.created_at, :format => :short %></td>
        <td><%= inscription.name %></td>
        <td><%= inscription.email %></td>
        <td class="nowrap">
          <div>
            <%= link_to 'Edit', "#", :class => 'btn btn-small' %>
          </div>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
