<section id="location" class="section container">
  <h2><%= t(:location) %></h2>

  <blockquote class="highline">
    <%= t(:local_description).html_safe %>
  </blockquote>

  <div class="row">
    <div class="span6">
      <div class="content-column">
        <div id="google-maps"></div>
        <div class="location-details">
          <div class="content-column">
            <%= content_tag :h3, event.place %>
            <address>
              <strong>Address:</strong><br>
              <%= event.address.html_safe %>
              <strong>GPS:</strong><br>
              Latitude: <%= event.latitude %><br>
              Longitude: <%= event.longitude %>
            </address>
          </div>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="content-column">

        <div id="city-carousel" class="carousel slid">
          <div class="carousel-inner">
            <div class="active item"><%= image_tag event.photo %></div>
            <div class="item"><%= image_tag event.photo %></div>
          </div>

          <a class="carousel-control left" href="#city-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#city-carousel" data-slide="next">&rsaquo;</a>
        </div>

        <div class="location-details">
          <div class="content-column">
            <%= content_tag :h3, event.city %>
            <%= content_tag :p, event.description, :class => "justify-text" %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="content-column">
        <div class="location-details">
          <div class="content-column">
            <h3>Friday track: VUT</h3>
            <address>
              <strong>Address:</strong><br/>
              Technicka 8 <br/>
              616 00 Brno<br/>
              room T-020<br/>
              tel. : +420 532 294 111<br/>
              <strong>GPS:</strong><br/>
              Latitude: 49.22608<br/>
              Longitude: 16.58127
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="content-column">
        <div class="location-details">
          <div class="content-column">
            <h3>Workshops: RedHat HQ</h3>
            <address>
              <strong>Address:</strong><br/>
              Purkyňova 99, 612 45 Brno<br/>
              tel. : +420 532 294 111<br/>
              <strong>GPS:</strong><br/>
              Latitude: 49.22608<br/>
              Longitude: 16.58127
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% if event.is_br? %>
    <p class="more-on-blog"></p>
  <% else %>
    <h3 class="highline"><%= t(:accomodation) %></h3>
    <div id="accomodation" class="row">
      <div class="span4">
        <div class="content-column">
          <h4 class="accomodation-highline"><span>Expensive:</span> <span>Barceló Brno Palace</span></h4>
          <p class="justify-text">
            If you are looking for living in a palace, Barceló Brno Palace is the right hotel for you. The recently renovated 19th century building standing in the historical heart of the the city offers elegant and comfortable rooms, superb restaurant, free Wi-Fi, sauna and a gym.
          </p>
          <ul class="nav pull-left">
            <li class="icon small website"><a href="http://www.barcelo.com/BarceloHotels/en_GB/hotels/Czech-Republic/Brno/hotel-barcelo-brno-palace/general-description.aspx" title="Website">Website</a></li>
            <li class="icon small booking"><a href="http://www.booking.com/ab4e6f068143eb42" title="Booking.com">Booking.com</a></li>
          </ul>
          <dl class="price-for-night pull-right">
            <dt>Price for night</dt>
            <dd><strong>127&mdash;160 EUR</strong></dd>
          </dl>
        </div>
      </div>

      <div class="span4">
        <div class="content-column">
          <h4 class="accomodation-highline"><span>Standard:</span> <span>Hotel Avanti</span></h4>
          <p class="justify-text">
            Hotel Avanti situated near the city centre by Luzanky Park offers its guests modern, spacious rooms, a restaurant with Czech and international cuisine and a wellness centre. Free Wi-Fi.
          </p>
          <p class="justify-text">
            <strong>Attention!</strong> Hotel Avanti offers a special discount rate for conference participants: Just mention our secret password <strong>"RuPy 12 Europe"</strong> and the discount is yours.
          </P>
          <ul class="nav pull-left">
            <li class="icon small website"><a href="http://www.brno-hotel-avanti.eu/" title="Website">Website</a></li>
            <li class="icon small booking"><a href="http://www.booking.com/8f0b9854e2c76" title="Booking.com">Booking.com</a></li>
          </ul>
          <dl class="price-for-night pull-right">
            <dt>Price for night</dt>
            <dd>1 room / 1 person <strong>60 EUR</strong></dd>
            <dd>1 room / 2 person <strong>66 EUR</strong></dd>
          </dl>
        </div>
      </div>

      <div class="span4">
        <div class="content-column">
          <h4 class="accomodation-highline"><span>Cheap:</span> <span>Hostel Fléda</span></h4>
          <p class="justify-text">
            Are you a party animal looking for cheap and comfortable accommodation? Hostel Fleda is the right place for you. Located in a vibrant area right in the city centre, Fleda features a bar and a well-known club Fleda where concerts, various theatre performances and movie projections take place. Bunk beds and shared bathrooms. Free Wi-Fi. Note that due to concerts and performances there might be an increased level of noise.
          </p>
          <ul class="nav pull-left">
            <li class="icon small website"><a href="http://www.hostelfleda.com/en/" title="Website">Website</a></li>
            <li class="icon small booking"><a href="http://www.booking.com/6e2790a031c9e55d" title="Booking.com">Booking.com</a></li>
          </ul>
          <dl class="price-for-night pull-right">
            <dt>Price for night</dt>
            <dd>approximately <strong>14 EUR</strong></dd>
          </dl>
        </div>
      </div>
    </div>

    <p class="more-on-blog">
      For more information about accomodation please visit <a href="http://blog.rupy.eu/post/33718750839/accomodation-in-brno">our blog</a>.
    </p>

    <h3 class="highline"><%= t(:travel_info) %></h3>
    <div id="travel-info" class="row">
      <div class="span3">
        <div class="content-column">
          <h4 class="travel-highline"><span class="icon large bus">Bus</span></h4>
          <p class="justify-text">
            Student Agency buses leave regularly from Vienna, Berlin, Budapest, Munich, Bratislava or Prague. Note that it is necessary to buy bus tickets for Student Agency via their <a href="https://jizdenky.studentagency.cz">website</a>.
          </p>
        </div>
      </div>

      <div class="span3">
        <div class="content-column">
          <h4 class="travel-highline"><span class="icon large train">Train</span></h4>
          <p class="justify-text">
            EC trains to Brno leave regularly from Vienna, Prague, Bratislava, Budapest, Berlin, Munich, Ljubljana, Zagreb, Belgrade, Wroclaw, Krakow, Poznan or Warsaw. For train timetables check <a href="http://jizdnirady.idnes.cz">jizdnirady.idnes.cz</a> or <a href="http://www.cd.cz/en/">cd.cz</a>.
          </p>
        </div>
      </div>

      <div class="span3">
        <div class="content-column">
          <h4 class="travel-highline"><span class="icon large car">Car</span></h4>
          <p class="justify-text">
            There are roads that connect Brno to with major Czech cities. Use D1 highway from the direction of Prague, Ostrava, Łódź or Gdańsk, D2 highway from Budapest and Bratislava, D3 highway from Austria, D5 or D8 highway from Germany. For the highway you have to buy a toll sticker.
          </p>
        </div>
      </div>

      <div class="span3">
        <div class="content-column">
          <h4 class="travel-highline"><span class="icon large plane">Plane</span></h4>
          <p class="justify-text">
            Directly to Brno from London with lowcosts Ryanair or Wizzair. Fly to Prague or Vienna and then take a direct Student Agency bus or an EC train.
          </p>
        </div>
      </div>
    </div>

    <p class="more-on-blog">
      For more information &amp; special tips about traveling please visit <a href="http://blog.rupy.eu/post/32858745018/getting-to-brno-safe-and-sound">our blog</a>.
    </p>
  <% end %>
</section>
