<section id="speakers" class="section container">
  <h2><%= t(:speakers) %></h2>

  <blockquote class="highline">
    <%= t(:speakers_description).html_safe %>
  </blockquote>

  <%- if speakers.present? -%>
  <%- speakers.each_slice(4).with_index do |(*current_speakers), group_index| -%>
    <div class="row">
      <%- current_speakers.each_with_index do |speaker, index| -%>
      <%- if speaker.new_record? -%>
      <div class="span3 box">
        <div class="content-column">
          <%= image_tag speaker.photo.url %>
          <div class="info">
            <div class="more-speakers center-block">
              <p class="middle">
                <%= t(:new_speaker).html_safe %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <%- else -%>
      <div class="span3 box">
        <div class="content-column">
          <%= image_tag speaker.photo.url, size: '240x240', alt: speaker.name %>
          <div class="info">
            <div class="content-column">
              <h4><%= speaker_name(speaker.name) %></h4>
              <%= content_tag :div, class: 'twitter' do -%>
                <a href="https://twitter.com/<%= speaker.twitter %>">@<%= speaker.twitter %></a>
              <%- end if speaker.twitter.present? -%>
              <div class="title center-block"><span class="middle"><%= speaker.title %></span></div>
              <div class="additional-info">
                <p>
                  <a href="#<%= speaker.name.parameterize %>" data-toggle="modal">Bio</a><%- if speaker.talk_available? -%>&nbsp;|&nbsp;<a href="#<%= speaker.name.parameterize %>-talk" data-toggle="modal">Talk</a>
                  <%- end -%>
                </p>

                <div class="modal hide" id="<%= speaker.name.parameterize %>">
                  <div class="content-column">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3><%= speaker.name %></h3>
                      <q><%= speaker.title %></q>
                    </div>
                    <div class="modal-body">
                      <p class="speaker-avatar">
                        <%= image_tag speaker.photo.url, size: '140x140', alt: speaker.name, class: 'clearfix' %>
                      </p>
                      <p class="justify-text"><%= speaker.description.html_safe %></p>
                    </div>
                    <div class="modal-footer">
                      <%= social_navbar speaker %>
                      <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                    </div>
                  </div>
                </div>

                <%- if speaker.talk_available? -%>
                <div class="modal hide" id="<%= speaker.name.parameterize %>-talk">
                  <div class="content-column">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3><%= speaker.talk_title %></h3>
                      <q><%= speaker.talk.speakers %></q>
                    </div>
                    <div class="modal-body">
                      <div class="justify-text">
                        <%= speaker.talk_description.html_safe %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                    </div>
                  </div>
                </div>
                <%- end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  <%- end -%>

</section>
