<section id="sponsors" class="section container">
  <h2><%= t(:sponsors) %></h2>

  <blockquote class="highline">
    <%= t(:sponsor_description).html_safe %>
  </blockquote>

  <%- sponsor_types.each do |sponsor_type| -%>
  <%- if sponsor_type.needed_sponsor_description? -%>
  <h3 class="highline"><%= sponsor_type.description.capitalize %> <%= 'Sponsor'.pluralize(sponsors[sponsor_type].count) %></h3>
  <%- sponsors[sponsor_type].each do |sponsor| -%>
  <div class="sponsor row">
    <div class="span3 offset1 logo <%= sponsor_logo(sponsor) %>">
      <%= link_to sponsor.website do %>
        <%= image_tag sponsor.logo.url, title: sponsor.name %>
      <%- end -%>
    </div>
    <div class="span8">
      <div class="content-column">
        <p class="description justify-text">
          <%= sponsor.description %>
        </p>
      </div>
    </div>
  </div>
  <%- end -%>
  <%- else -%>
  <h3 class="highline"><%= sponsor_headline(sponsors, sponsor_type) %></h3>
  <div class="sponsor logos">
  <%- sponsors[sponsor_type].each do |sponsor| -%>
    <%= link_to sponsor.website do -%>
      <%= image_tag sponsor.logo.url, title: sponsor.name %>
    <%- end -%>
  <%- end -%>
  </div>
  <%- end -%>
  <%- end -%>

  <blockquote class="highline">
    <%= t(:sponsor_brochure_description).html_safe %>
  </blockquote>

  <div class="button-block">
    <%= link_to t(:sponsor_brochure), event.brochure, :class => "btn btn-large btn-primary" %>
  </div>
</section>
