<section id="team" class="section container">
  <h2><%= t(:team) %></h2>

  <blockquote class="highline">
    <%= t(:team_description).html_safe %>
  </blockquote>

  <%- if team.present? -%>
  <%- team.each_slice(4) do |current_members| -%>
  <div class="row">
    <%- current_members.each do |member| -%>
    <div class="span3 box">
      <div class="content-column">
        <%= image_tag member.photo.url %>
        <div class="info">
          <h4><%= member.name %></h4>
          <%= content_tag :div, class: 'twitter' do -%>
            <a href="https://twitter.com/<%= member.twitter %>">@<%= member.twitter %></a>
          <%- end if member.twitter.present? -%>
          <p>
            <%= member.description.html_safe %>
          </p>
        </div>
      </div>
    </div>
    <%- end -%>
  </div>
  <%- end -%>
  <%- end -%>

</section>
