<%= content_tag :h1, @event.try(:title) %>

<div id="blog">
  <%= link_to t(:our_blog), "http://blog.rupy.eu", :title => "Rupy blog", :target => "_blank" %>
</div>

<div id="flags" class="row">
  <div id="cz" class="span2 offset4">
    <a href="http://rupy.eu/" title="Brno Edition">
      <%= image_tag "flag-cz.png" %>
      <p>Brno Edition<br><strong>16-18 Nov 2012</strong></p>
    </a>
  </div>
  <div id="br" class="span2">
    <a href="http://rupy.com.br/" title="São José dos Campos/SP Edition">
      <%= image_tag "flag-br.png" %>
      <p>São José dos Campos/SP Edition<br><strong>7-9 Dec 2012</strong></p>
    </a>
  </div>
</div>

<div class="row">
  <div class="span3 afix-sidebar hidden-phone">
    <ul class="nav nav-list" data-spy="affix" data-offset-top="658" data-offset-bottom="550">
      <%= content_tag :li, link_to(t(:inscriptions), "#inscriptions") if @event.present? && @event.has_event_inscription? %>
      <%= content_tag :li, link_to(t(:trainings), "#trainings") if @trainings.present? %>
      <%= content_tag :li, link_to(t(:speakers), "#speakers") %>
      <%= content_tag :li, link_to(t(:sponsors), "#sponsors") %>
      <%= content_tag :li, link_to(t(:venue), "#venue") %>
      <%= content_tag :li, link_to(t(:team), "#team") %>
    </ul>
  </div>

  <div class="span9">
    <% if @event.present? && @event.has_event_inscription? %>
      <section id="inscriptions">
        <%= content_tag :h2, t(:inscriptions) %>
        <%= image_tag @event.inscription_photo.url %>
        <%= @event.inscription_description.html_safe %>
        <% if @event.inscription_available? %>
          <%= link_to t(:register), [:new, @event.domain_locale, :event, :inscription], :class => "btn btn-primary" %>
        <% else %>
          <div class="control-group string required error">
          <button type="button" class="btn btn-primary" disabled=""><%= t(:register) %></button>
          <span class="help-inline">inscrições encerradas</span>
          </div>
        <% end %>
      </section>
    <% end %>

    <% if @trainings.present? %>
      <section id="trainings">
        <%= content_tag :h2, t(:trainings) %>
        <%= content_tag :p, t(:trainings_description) %>
        <% @trainings.each do |training| %>
          <%= content_tag :h3, "#{t(:training)}: #{training.name}", :class => "title" %>
          <%= image_tag training.photo.url %>
          <%= content_tag :p, training.description %>
          <%= content_tag :div, :id => "accordion#{training.id}", :class => "accordion" do %>

            <%= content_tag :div, :class => "accordion-group" do %>
              <%= content_tag :div, :class => "accordion-heading" do %>
                <%= link_to t(:instructor_about), "#instructor-about", :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion#{training.id}" %>
              <% end %>
              <%= content_tag :div, :id => "instructor-about", :class => "accordion-body collapse" do %>
                <%= content_tag :div, :class => "accordion-inner" do %>
                  <%= image_tag training.instructor_photo.url, :class => "img-rounded" %>
                  <%= content_tag :h4, training.instructor_name %>
                  <%= content_tag :p, training.instructor_description.html_safe %>
                <% end %>
              <% end %>
            <% end %>

            <%= content_tag :div, :class => "accordion-group" do %>
              <%= content_tag :div, :class => "accordion-heading" do %>
                <%= link_to t(:summary), "#summary", :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion#{training.id}" %>
              <% end %>
              <%= content_tag :div, :id => "summary", :class => "accordion-body collapse" do %>
                <%= content_tag :div, :class => "accordion-inner" do %>
                  <%= training.summary.html_safe %>
                <% end %>
              <% end %>
            <% end %>

            <%= content_tag :div, :class => "accordion-group" do %>
              <%= content_tag :div, :class => "accordion-heading" do %>
                <%= link_to t(:payment_method), "#payment-method", :class => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion#{training.id}" %>
              <% end %>
              <%= content_tag :div, :id => "payment-method", :class => "accordion-body collapse" do %>
                <%= content_tag :div, :class => "accordion-inner" do %>
                  <%= training.payment_method.html_safe %>
                <% end %>
              <% end %>
            <% end %>

          <% end %>

          <% if training.inscription_available? %>
            <%= link_to t(:register), [:new, @event.domain_locale, training, :inscription], :class => "btn btn-primary" %>
          <% else %>
            <div class="control-group string required error">
            <button type="button" class="btn btn-primary" disabled=""><%= t(:register) %></button>
            <span class="help-inline">inscrições encerradas</span>
            </div>
          <% end %>
        <% end %>
      </section>
    <% end %>

    <section id="speakers">
      <%= content_tag :h2, t(:speakers) %>
      <% @speakers.each do |speaker| %>
        <%= content_tag :div, :class => "row" do %>
          <%= content_tag :div, :class => "span9" do %>
            <%= image_tag speaker.photo.url, :class => "img-rounded" %>
            <%= content_tag :p, speaker.title, :class => "title" %>
            <%= content_tag :h3, speaker.name %>
            <%= content_tag :p, speaker.description.html_safe %>
          <% end %>
        <% end %>
      <% end if @speakers.present? %>
    </section>

    <section id="sponsors">
      <%= content_tag :h2, t(:sponsors) %>
      <div class='box'><%= link_to t(:sponsor_brochure), @event.try(:brochure), :target => "_blank" %></div>
      <% @sponsor_types.each do |sponsor_type| %>
        <%= content_tag :p, sponsor_type.description, :class => "title" %>
        <% sponsor_type.sponsors.find_all_by_event_id(@event.id).each do |sponsor| %>
          <%= link_to image_tag(sponsor.logo.url), sponsor.website, :class => "thumbnail", :target => "_blank" %>
        <% end %>
      <% end if @sponsor_types.present? %>
    </section>

    <section id="venue">
      <%= content_tag :h2, t(:venue) %>
      <% if @event.present? %>
        <%= image_tag @event.photo.url, :class => "photo" %>
        <%= content_tag :p, @event.city, :class => "title" %>
        <%= content_tag :p, @event.description %>
        <%= content_tag :p do %>
          <%= content_tag :strong, @event.place %><br>
          <%= @event.address.html_safe %>
        <% end %>
      <% end %>
      <div id="googleMapWrapper"><div id="googleMap"></div></div>
    </section>

    <section id="team">
      <%= content_tag :h2, t(:team) %>
      <% @teams.each_with_index do |team, index| %>
        <% if index.zero? || index.divmod(3)[1].zero? %><div class="row"><% end %>
          <%= content_tag :div, :class => "span3" do %>
            <%= image_tag team.photo.url, :class => "img-polaroid" %>
            <%= content_tag :h3, team.name %>
            <%= content_tag :p, team.description.html_safe %>
            <%= content_tag :p do %>
              <%= link_to "@#{team.twitter}", "http://twitter.com/#{team.twitter}", :target => "_blank" %>
            <% end unless team.twitter.blank? %>
          <% end %>
        <% if index.next.divmod(3)[1].zero? %></div><% end %>
      <% end if @teams.present? %>
    </section>
  </div>
</div>
