<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <div class="brand">
            <a href="http://rupy.eu/" title="Brno Edition" class="<%= 'current' if !@event.try('is_br?') %>">Brno Edition</a>&nbsp;|&nbsp;<a href="http://rupy.com.br/" title="Brazil Edition" class="<%= 'current' if @event.try('is_br?') %>">Brazil Edition</a>
          </div>
          <ul class="nav pull-right">
            <li class="active"><%= link_to t(:about), '#about' %></li>
            <li><%= link_to t(:speakers), '#speakers' %></li>
            <li><%= link_to t(:workshops), '#workshops' unless @event.is_br? %></li>
            <li><%= link_to t(:agenda), '#agenda' %></li>
            <li><%= link_to t(:location), '#location' %></li>
            <li><%= link_to t(:sponsors), '#sponsors' %></li>
            <li><%= link_to t(:team), '#team' %></li>
            <%- unless @event.is_br? -%>
            <li><%= link_to t(:faq), '#faq' %></li>
            <%- end -%>
            <%- if @event.is_br? -%>
            <li><%= link_to t(:register), new_br_event_inscription_path, class: 'highline' %></li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="social" class="container">
  <div class="row">
    <div class="span4">
      <div class="content-column">
        <%= t(:previous_editions) %>: <a href="http://11.rupy.eu/">2011</a>
      </div>
    </div>
    <div class="span3 offset5">
      <div class="content-column">
        <ul class="nav pull-right">
          <li class="icon small tumblr"><a href="http://blog.rupy.eu/">Blog</a></li>
          <li class="icon small twitter"><a href="https://twitter.com/rupy">Twitter</a></li>
          <li class="icon small facebook"><a href="https://facebook.com/rupy.conference">Facebook</a></li>
          <li class="icon small linkedin"><a href="https://www.linkedin.com/groups?gid=63103&amp;mostPopular=&amp;trk=tyah">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%= render 'home/sections/about', event: @event %>

<%= render 'home/sections/speakers', speakers: @speakers %>

<%= render 'home/sections/workshops' unless @event.is_br? %>

<%= render 'home/sections/agenda', dates: @schedule_dates, rooms: @schedule_rooms %>

<%= render 'home/sections/location', event: @event %>

<%= render 'home/sections/sponsors', event: @event, sponsor_types: @sponsors_per_type.keys, sponsors: @sponsors_per_type %>

<%= render 'home/sections/team', team: @team %>

<%= render 'home/sections/faq' unless @event.is_br? %>

<%= render 'home/sections/coc' unless @event.is_br? %>

<section id="contact" class="section container">
  <div class="highline">
    <%= t(:contact).html_safe %>
  </div>
</section>

<footer>
  <div class="container">
    <p class="pull-left">Thanks to our friends from <a href="http://www.pyvec.org">Pyvec.org</a> for helping us to get the conference rolling.</p>
    <p class="pull-right">Designed by <strong>Husha</strong></p>
  </div>
</footer>
