<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>RUPY 2012</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="latlong" content="<%= @event.try(:latitude_and_longitude) %>">

  <meta name="keywords" content="python, ruby, conference, europe, brazil">
  <meta name="author" content="RUPY 2012 team">

  <meta property="og:title" content="RUPY 2012">
  <meta property="og:url" content="<%= root_url %>">
  <meta property="og:image" content="<%= asset_path('og_logo_info.png') %>">
  <meta property="og:image:width" content="125">
  <meta property="og:image:height" content="125">

  <meta itemprop="name" content="Rupy 2012">
  <meta itemprop="description" content="Rupy 2012, Strongly dynamic Conference. Connecting Hemispheres.">
  <meta itemprop="image" content="<%= asset_path('og_logo_info.png') %>">

  <link rel="image_src" href="<%= asset_path('og_logo_info.png') %>" />

  <%= csrf_meta_tags %>
  <%= dispatcher_tag %>
  <%= favicon_link_tag "/favicon.png" %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
  <%= javascript_include_tag 'application' %>
</head>
<body id="about">
  <%= yield %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8394595-1']);
    _gaq.push(['_setDomainName', 'rupy.eu']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
